.filters {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  justify-content: center; /* This centers the row horizontally */
  gap: 10px;               /* Adds space between p and buttons */
}

.sort-buttons {
  text-align: center;
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.filters button {
  border: none;
  background-color: #B3FFF7;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-radius: 9999px;
  font-weight: 500;
}

.filters button:hover {
  background: #859dff;
}


.card-link {
  text-decoration: none;
  color: inherit; /* Optional: preserve original text color */
}

.profile-link {
  color: #981df0;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.profile-link:hover {
  text-decoration: underline;
  color: #c714d0;
}
